<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>On-Off Ramp Transaction</title>
    <meta name="author" content="Codeconvey" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
  </head>
  <body>
    
   <div class="centerPart">
   <div class="elemt">
    <!-- <header class="ScriptHeader">
      <div class="rt-container">
        <div class="col-rt-12">
          <div class="rt-heading">
            <h1>Atlas Wallet</h1>
            <p></p>
          </div>
        </div>
      </div>
    </header> -->
    <section class="">
     
      <div class="rt-container">
        <div class="main_container">
          <img src="images/congrats.svg">
          <div   class="Scriptcontent">
            <!-- DEMO CONTENT -->
            <div class="congrats">
            
            <h1>Congratulations!</h1>
            <h1 class="margin_set"> Your Transaction has been successfully submitted</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
   </div>
   </div>


    <!-- ANALYTICS -->
  </body>
</html>
